#trwthemeswitchbox {
  opacity: 0.1;
  background-color: #000;
  position: fixed;
  top: 30px;
  z-index: 10000; }
  #trwthemeswitchbox:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px -2px #000; }
  #trwthemeswitchbox h3 {
    background-color: #000;
    padding: 5px 10px;
    color: #fff; }
  #trwthemeswitchbox ul {
    padding-left: 0;
    list-style: none; }
    #trwthemeswitchbox ul li {
      list-style: none; }
      #trwthemeswitchbox ul li a {
        display: block;
        padding: 5px 10px;
        color: #fff; }
        #trwthemeswitchbox ul li a:hover {
          text-decoration: none;
          background-color: #fff;
          color: #000; }
